.spacer {
  height: 30%;
  display: block;
}

.hilt {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  width: 75px;
  height: 30px;
  background-color: grey;
  z-index: 2;
  align-content: center;
  border-radius: 4px;
}

.hilt-button {
  justify-items: center;
  align-items: center;

  width: 15px;
  height: 8px;
  z-index: 3;
  border-radius: 2px;
  background-color: darkslategrey;
  grid-column-start: 2;
  margin: 5px;
}

.hilt-grip {
  height: 20px;
  width: 3px;
  background-color: darkgrey;
  display: flex;
  justify-content: flex-start;
  margin: 2px;
}

.saber {
  height: 25px;
  background-color: #ff3b3b91;
  box-shadow: 0 0 6px 5px red inset;
  border-radius: 20px;
  z-index: 1;
  transition: width 0.3s ease;
  margin: 2px;
  /* width: 30px; */
  width: 450px;
}

#blade1 {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-column-start: 2;
  transform: translate(40px, 0);
}

#blade2 {
  grid-row-start: 3;
  display: none;
  /* transform: translate(-776px, 0); */
}


.hilt:hover #blade1, .hilt:hover #blade2  {
  display: inline-block;
  box-shadow: 0 0 6px 5px red inset, 6px 1px 10px -2px red;
  width: 450px;
}

/* .whole-saber:hover #blade2 {
  display: inline-block;
} */


.whole-saber {
  height: fit-content;
  margin: 20% 0 0 40%;
}