
/* INDEX PAGE */

#main-wrapper-index {
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;

}

#main-wrapper-index h1, #main-wrapper-index h2 {
  color: white;
}

#main-wrapper-index a {
  color: white;
}



/* ALL PAGES */


body {
  margin: 0;
}

.main-wrapper {
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1, h2 {
  color: black;
  margin: 0;
  font-family: Helvetica, sans-serif, Arial;
}

h1 {
  font-size: 3em;
}

h1 a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  font-family: Helvetica, sans-serif, Arial;
}

/* span {
  color: black;
} */

hr {
  width: 55%;
}

.text-centered {
  text-align: center;
}

#latest-song-youtube {
  margin: 10% auto;
}


/* NAV LINKS */


.nav-link-container {
  width: fit-content;
  margin: 0 auto;
}

.nav-link {
  margin: 0 10px;
  font-weight: bold;
  font-size: large;
}

.nav-link:hover {
  text-decoration: underline;
}